ion-content {
      background: linear-gradient(to right, #7FB174 , #689C97);

}

h2 {
    color: #ffffff;
    font-size: xx-large ;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}